.footerContact {
  background-color: #27ae60;
  padding: 60px 0;
  color: #fff;
  width: 100%;
}
.footerContact h1 {
  font-size: 40px;
}

footer {
  background-color: #1d2636;
  padding: 50px 0;
  color: #fff;
  
}

footer .container {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr; /* Four columns */
  grid-gap: 20px;
}

footer .box.logo-box {
  grid-column: 1; 
  grid-row: 1; 
}


footer img {
  width: 150px;
}
footer h2 {
  font-weight: 500;
}
footer p {
  color: grey;
  margin: 20px 0;
}
footer input {
  background-color: #fff;
  padding: 17px;
  width: 100%;
  border-radius: 5px;
}
footer h3 {
  font-weight: 500;
  margin-bottom: 30px;
}
footer ul {
  display: block;
}
footer ul li {
  display: block;
  color: grey;
  margin-bottom: 20px;
}
.legal {
  padding: 20px 10%;
  background: #1d2636;
  color: rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: space-between
;
}

/* new Changes */
 .send {
  display: flex;
  flex-direction: column;
  align-items: center;
              
}
.text{
  text-align: center;   
           
}

.btn5 {
 margin-bottom: 28px;
}

.container > .inline-form {
  padding: 3px;
  min-width: 500px;
  margin-bottom: 20px;
}

.inline-form > .inline-form__control {
  padding: 10px;
  display: flex;
  border-radius: 5px;
  background: white
}

.inline-form input {
  width: calc(100% - 70px);
  text-indent: 10px;
  font-size: 14px;
  line-height: 28px;
  border: none;
  outline: none;
}
.inline-form button {
  width: 30%;
  font-size: 12px;
  border-radius: 4px;
  background-color: #27ae60;
  color: #fff;
  outline: none;
}

.social-icons {
  bottom: 20px;
  right: 20px;
  font-size: 24px;
}

.social-icons a {
  color: #fff;
  margin-left: 10px;
  text-decoration: none;
}

.social-icons a:hover {
  color: #007bff;
}
@media screen and (max-width: 800px) {
  footer .container {
    grid-template-columns: repeat(2, 1fr);
  }
}
